body{
    background-color: #0f6fac;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box; 
}

.columnPaddingTop{
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 10px;
}

.columnPaddingBottom{
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 45px;
}

.topTitle{
    width: 1000px;
}

.text-center{
    text-align: center;
}

.matchingPageMargin{
}

.subtitleText{
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 25pt;
}

.lessPad{
    margin-left: -1% !important;
}

.firstRow{
    margin-top: -20px;
}

.textRow{
    text-align: center;
    margin-top: -33px;
    color: white;
}

.secondRowPadding{
    margin-top: 15px;
}

.bottomRow{
}

.topRow{
    margin-top: 25px;
}

.settingsImg{
    margin-top: 20px;
    max-height: 270px;
    width: 100%;
    position:relative;
    display:inline-block;
    overflow:hidden;
}

.settingsImg > img{
    width: auto;
    height: 270px;
}

.divider{
    width:60%;
    border: 1px solid white;
    margin-top: -15px;
}

.difficultyBox{
    padding-left: 10px;
    padding-right: 10px;
}

/* Start Button */

.btn-start { 
  height: 50px;
  background-color: #4dae4a;
  border-radius: 10px;
  color: white;
  padding: 15px;
  font-family: sans-serif;
  font-size: 23px;
  font-weight: 600;
  text-shadow: 1px 1px 2px #000;
  line-height: .9;
  margin-left: -10px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
 
.btn-start:hover, 
.btn-start:focus, 
.btn-start:active, 
.btn-start.active, 
.open .dropdown-toggle.btn-start { 
  color: #ffffff; 
  background-color: #4CAE4C; 
  border-color: #4CAE4C; 
} 
 
.btn-start:active, 
.btn-start.active, 
.open .dropdown-toggle.btn-start { 
  background-image: none; 
} 
 
.btn-start.disabled, 
.btn-start[disabled], 
fieldset[disabled] .btn-start, 
.btn-start.disabled:hover, 
.btn-start[disabled]:hover, 
fieldset[disabled] .btn-start:hover, 
.btn-start.disabled:focus, 
.btn-start[disabled]:focus, 
fieldset[disabled] .btn-start:focus, 
.btn-start.disabled:active, 
.btn-start[disabled]:active, 
fieldset[disabled] .btn-start:active, 
.btn-start.disabled.active, 
.btn-start[disabled].active, 
fieldset[disabled] .btn-start.active { 
  background-color: #5CB85C; 
  border-color: #4CAE4C; 
} 
 
.btn-start .badge { 
  color: #5CB85C; 
  background-color: #ffffff; 
}