@media (min-width: 1100px) {
    .subtitleText{
        width: 54%;
        margin-left: 60px;
        background-size: cover;
        height: 50px;
        font-size: 19pt;
        margin-top: 25px;
        line-height: 1.8;
    }
    /* .clue-button{
        position: absolute;
        top: 45px;
        right: 197px;
    } */

    .home-button{
        width: 160px;
        margin-right: 10px;
    }
    #puzzle-clues{
        width: 350px;
       
    }

    .clue-button {
        margin-right: 
        6px;
    }
}