html{
    background-color: #468bbb;
}
.header{
  height: 80px;
  text-align: center;
}

.dis-none{
  display: none;
}

.list-button{
  width: 30%;
  height: 50px;
  background-color: yellow;
  border: solid 1px black;
  border-radius: 3px;
  color: black;
  margin: 10px;
  padding: 10px;
}

.home-button{
  width: 18%;
  height: 45px;
  background-color: #4dae4a;
  border-radius: 10px;
  color: white;
  
  padding: 10px;
  font-family: sans-serif;
  font-size: 23px;
  font-weight: 600;
  text-shadow: 1px 1px 2px #000;
  line-height: 1;
 
  border: none;
  box-shadow: 1px 1px 3px #000;
  position: absolute;
  top: 5px;
  right: 1%;
}

.subtitleText{
    position: absolute;
    background-image: url(../topBanner.png);
    width: 61%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    font-family: sans-serif;
    text-align: center;
    font-size: 18pt;
    top: -20px;
    left: 20px;
    line-height: 1.4;
    color: #fff;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000;
}

#puzzle {
    margin-top: 20px !important;
    margin-left: -30px;
}

#win-banner{
}

#win-banner-contents{
    border: 1vw solid #4DAE4A;
    font-family: sans-serif;
}

#modal-home-btn{
    position: absolute;
    top: 58%;
    left: 42%;
}
#win-banner-contents h1{
    font-size: 55px;
    margin-top: 60px;
}

/* #submit-button{
    display: none;
} */