body {
    font: 62.5%/1.3em Helvetica, sans-serif;
    width: 90.3%;
    margin: 10px auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table tr{
    width: 100%;
}
table td {
    width: 5em;
    height: 5em;
    border: 1px solid #cdcdcd;
    padding: 0;
    margin: 0;
    background-color: #333;
    position: relative;
}

td input {
    width: 100%;
    height: 100%;
    padding: 0em;
    border: none;
    text-align: center;
    font-size: 3em;
    color: #666;
    background-color: #f4f4f4;
}

td input:focus {
    background-color: #fff;
}

td span {
    color: #444;
    font-size: 0.8em;
    position: absolute;
    top: -1px;
    left: 1px;
}

input.done {
    font-weight: bold;
    color: green;
}

.active,
.clues-active {
    background-color: #ddd;
}
.clue-done {
    color: #999;
    text-decoration: line-through;
}

#clueText {
    color: #4c4c4c;
    font-family: sans-serif;
    text-align: center;
    font-size: 27px;
    line-height: 1.4;

}

#puzzle-wrapper {
    float: left;
    width: 68%;
    margin-right: -3%;
}
#puzzle-clues {
    float: right;
    width: 36%;
    height: 615px;
    margin-left: -20px !important;
    background-color: #fff;
    margin-top: 20px;
    margin-right: -40px;
    padding-left: 10px; 
    padding-right: 10px;
}

#across{
    border: 2px solid #000;
    margin-top: -23px;
    padding-top: 10px;
    background-color: #fff;
    visibility: hidden; 
}
#across li{
    margin-left: -20px !important;
    font-size: 15px !important;
}
#solutionTitle{
    height: 40px;
    font-family: sans-serif;
    text-align: center;
    font-size: 27px;
    line-height: 1.4;
    background-color: #fff;
    color: #e49225;
    text-shadow: 1px 1px 2px #000;
}

#down{
    border: 2px solid #000;
    margin-top: -23px;
    padding-top: 10px;
    background-color: #fff;
    visibility: hidden; 
}
#down li{
    margin-left: -20px !important;
    font-size: 15px !important;
}
#downTitle{
    height: 40px;
    font-family: sans-serif;
    text-align: center;
    font-size: 27px;
    border: 2px solid #000;
    line-height: 1.4;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #e49225;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    visibility: hidden; 
}

#puzzle-clues li{
    font-size: 1.2em;
    margin: .3em;
    line-height: 1.6em;
}

ol {
  list-style-type: none;
}

#solution-buttons-div {
    text-align: center;
    margin-top: 50px;
}

.clue-button {
    background-color: #4dae4a;
    border-radius: 10px;
    color: white;
    padding: 10px;
    font-family: sans-serif;
    font-size: 21px;
    font-weight: 600;
    text-shadow: 1px 1px 2px #000;
    line-height: 1;
    border: none;
    box-shadow: 1px 1px 3px #000;
    width: 90px;
    margin-top: -40px;
    
}

#answer-text-box {
    text-align: center;
    
}

#answer-text {
    font-size: 27px; 
    text-align: center;
}

#answer-text-input {
    border: 2px solid #000;
    font-size:21px; 
    text-align: center;
}

input[disabled] {
    pointer-events:none;
    font-size: 32px;
}

#start-div {
    height:7.5rem;
    float: right;
    width: 34%;
    margin-left: -20px !important;
    background-color: #fff;
    margin-top: 20px;
    margin-right: -40px;
    padding-left: 10px;
    padding-right: 10px;
}

#tap-to-start {
    line-height: 1.5;
	font-size: 27px;
	text-align: center;
    color:rgb(51, 45, 45);
    font-family: sans-serif;
}

#solve-button {
    background-color: rgb(231, 124, 24);
}

#cancel-button {
    background-color: rgb(231, 48, 24);
}